.loginSignupContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(231, 231, 231);
    /* border: 1px solid white;
    border-radius: 30px; */
}

.loginSignupBox {
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
}

.loginSignupToggle {
    display: flex;
    height: 1vmax;
    margin: 5px;
}

.loginSignupToggle>p {
    color: rgba(0, 0, 0, 0.678);
    display: grid;
    place-items: center;
    cursor: pointer;
    font: 400 1.2vmax 'Roboto';
    transition: all 0.5s;
    width: 100%;
}

.loginSignupToggle>p:hover {
    color: tomato;
}

.loginSignupBox > div > button {
    background-color: tomato;
    height: 3px;
    width: 50%;
    border: none;
    transform: all 0.5s;
}

.loginForm,
.signupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content:space-evenly;
    height: 80%;
    transition: all 0.5s;
}

.signupForm{
    transform: translateY(-100%) translateX(-100vmax);
}

#registerImage{
    margin-top: 10px;
    width: 100%;
}

#registerImage > img{
    width: 3vmax;
    border-radius: 100%;
    margin-top:5px;
}

#registerImage > input{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
    margin: 5px;
    margin-bottom: 20px;

}

#registerImage > input::file-selector-button{
    cursor: pointer;
    width: 100%;
    height: 2vmax;
    z-index: 2;
    margin: 0;
    border: none;
    font: 400 0.9vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.829);
    background-color: rgb(255, 255, 255);
}

#registerImage > input::file-selector-button:hover{
    background-color: rgb(231, 231, 231);
}

.loginForm > div,
.signupForm>div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.loginForm > div >input,
.signupForm>div >input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.278);
    border-radius: 4px;
    font: 300 1vmax cursive;
    outline: none;
    margin-bottom: 5px;
} 

/* {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.278);
    border-radius: 4px;
    font: 300 1vmax cursive;
    outline: none;
    margin-bottom: 5px;
} */

.loginForm > div >svg,
.signupForm> div >svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.678);
    /* margin-bottom: 5px; */
}

.loginForm > a{
    color: rgba(0, 0, 0, 0.678);
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
    font: 500 0.9vmax cursive;
    
}

.loginForm > a:hover{
    color: black;
}

.loginBtn,
.signupBtn {
    border: none;
    background-color: tomato;
    color: white;
    font: 300 1vmax Roboto;
    width: 50%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    margin-top: 5px;
}

.loginBtn:hover,
.signupBtn:hover{
background-color: rgba(179, 46, 66);
}

.shiftToLeft{
    transform: translateX(-100%);
}

.shiftToNeutral{
    transform: translateX(0%);
}

.shiftToNeutralForm{
    transform: translateX(0%) translateY(-100%);
}

.shiftToRight{
    transform: translateX(100%);
}

@media screen and (max-width:600px){

    .loginSignupContainer{
        background-color: white;
    }

    .loginSignupBox{
        width: 100vw;
        height: 95vh;
    }

    .loginSignupToggle{
        height: 3vmax;
    }

    .loginSignupToggle > p{
        font: 300 2vmax Roboto;
    }

    .loginForm , .signupForm{
        padding: 2vmax;
    }

    .loginForm > div > input,
    .signupForm> div > input{
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax cursive;
        margin-bottom: px;
    }

    .loginForm > div > svg,
    .signupForm > div > svg{
        font-size: 2.8vmax;
    }

    .loginForm > a {
        font: 500 1.8vmax cursive;
        margin-bottom: -30px;
    }

    #registerImage > img{
        width: 7vmax;
        height: 7vmax;
        border-radius: 100%;
    }

    #registerImage > input{
        width: 100%;
    }

    #registerImage > input::file-selector-button{
        height: 6vh;
        font: 400 1.8vmax cursive;
        width: 100%;
    }

    .signupBtn{
        padding: 1.8vmax;
        font: 400 1.9vmax Roboto;
    }
    .loginBtn {
        padding: 1.8vmax;        
        font: 400 1.9vmax Roboto;
    }
}